<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Hi <%= @user.name %>,</p>
    <p><b><%= @comment.user.name %></b> commented on your <a href="http://xscollaborative.us/#post/<%= @comment.post.id %>">post</a>:</p>
    <div style="border-top: 1px solid #dadada; border-bottom: 1px solid #dadada; width: 100%; padding: 15px 0; text-align: center;">
      <p style="font-size: 1.3em">"<%= @comment.body %>"</p>
    </div>
    <br/>
    <a href="http://xscollaborative.us/#team">Go to your workspace</a>
    <span> or </span>
    <a href="http://xscollaborative.us/#post/<%= @comment.post.id %>">See the post</a>
  </body>
</html>