<div class="bucket" ondragover="event.preventDefault()" data-id=<%= id %> dragenter="event.preventDefault()" ondrop="event.preventDefault()">
  <a href="#bucket/<%= id %>">
    <div class="text">
      <h5><%= name %></h5>
      <div class="user"><%= user ? user.name : '' %></div>
    </div>
    <div class="number"><%= posts ? posts.length : '' %></div>
  </a>
</div>