<div class="post" data-id="<%= id %>" data-post_id="<%= id %>" draggable=true>
  <div class="body"><%= body %></div>
  <%= image ? '<img data-id="' + id + '" src=' + image.image.thumb.url + ' />' : '' %>
  <div class="details">
    <div class="author"><%= user ? user.name : '' %></div>
    <div class="likes" data-id="<%= id %>"><span class="unicode">&#x2661;</span><%= likes ? likes.length : '' %></div>
  </div>
</div>