<div class="post" draggable=true data-id="<%= id %>" ondragstart="event.dataTransfer.setData('post_id', '<%= id %>');">
  <%= body %>
  <div class='info'>
    <div class="name"><%= user.name.split(' ')[0] %></div>
    <div class='like' data-id="<%= id %>"><span class="unicode">&#x2661;</span> Like</div>
  </div>
</div>