<div class="promoted_post">
  <div class="body"><%= body %></div>
  <div class="details">
    <div class="user">
      <div class="thumbnail"></div>
      <h4 class="name"><%= user.name %></h4>
    </div>
    <div class="team"><%= team.name %></div>
    <div class="likes" data-id="<%= id %>"><span class="unicode">&#x2661;</span><%= likes.length %></div>
  </div>
</div>