<div class="user">
  <div class="name"><%= name %></div>
  <div class="details">
    <span><%= school ? school + ", " : "" %></span>
    <span><%= year %></span>
  </div>
  <div class="bio"><%= bio %></div>
  <label>Teams:</label>
  <div class="teams">
  </div>
  <div class="number">
    <label>Number of Posts:</label>
    <div class="count"><%= posts %></div>
  </div>
  <div class="number">
    <label>Number of Likes:</label>
    <div class="count"><%= likes %></div>
  </div>
</div>