<!DOCTYPE html>
<html>
<head>
  <title>WEB</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="google-site-verification" content="rgHkq8A9skqC1eDjk2_6Bx2RZyU0nmXQHA-YbqlEEgM" />
</head>
<body>

<% if current_user && current_user.activated? %>
  <%= render :partial => '/layouts/nav' %>
  <%= render :partial => '/layouts/sidebar' %>
  <%= render :partial => '/users/edit' %>
<% end %>

</div>

<%= yield %>

<script type="text/javascript">
  var _gauges = _gauges || [];
  (function() {
    var t   = document.createElement('script');
    t.type  = 'text/javascript';
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '4fa2b743613f5d04fe000048');
    t.src = '//secure.gaug.es/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
</script>
</body>
</html>
